/* fonts google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins&family=Work+Sans:wght@600&display=swap');

:root {
    --color-primary: #ff900e1a;
    --color-dark: #727272;
    --btn-bg: #FF900E;
}

* {
    margin: 0;
    padding: 0;
}

.nav-banner {
    width: 100%;
    height: 1100px;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--color-primary);
    margin-bottom: 60px;
}

.nav-container .nav {
    display: flex;
    justify-content: space-around;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 80px;
}

.nav-list {
    display: flex;
    gap: 20px;
    line-height: 80px;
}

.nav-list li {
    list-style: none;
}

/* banner description */
.banner-title {
    font-size: 64px;
    text-align: center;
}

.banner-description {
    color: var(--color-dark);
    padding: 20px;
    text-align: center;
}

.banner-container {
    width: 70%;
    height: 225px;
    margin: 0 auto;
    margin-top: 90px;
}

/* button */
.btn {
    background-color: var(--btn-bg);
    color: #FFFFFF;
    width: 131px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/* banner img */
.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    height: 500px;
    width: 70%;

}

/* feature secction */
.feature-container {

    width: 80%;
    height: 600px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}

.feature-container>div {
    flex: 1;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-img img {
    width: 100%;
    height: 100%;

}

.feature-description-details {
    margin-top: 170px;
    margin-left: 80px;
}


.feature-description h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.feature-description p {
    color: var(--color-dark);
    font-size: 14px;
    margin-bottom: 20px;
}

.primary-color {
    color: var(--btn-bg);
}

/* experience section */
.experience-container {
    margin: 0 auto;
    display: flex;
    height: 850px;
    width: 80%;
}


.span {
    padding: 4px;
}

.experience-container>div {
    flex: 1;
}

.experience-title {
    margin-top: 20px;
    font-size: 35px;
    width: 300px;
    margin-bottom: 10px;
    border-left: 3px solid var(--btn-bg);

}

.experience-title-des {
    color: var(--color-dark);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 400;
}



.experience-right-container-img img {
    height: 700px;
    width: 100%;
}

.experience-description {
    height: 600px;
    width: 600px;
    padding: 10px;
}

.experience-description-part {
    height: 100px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px var(--color-dark);
}

/* ------------------------------------------------------------
----------------------experience button---------------------- */
.experience-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.exp-btn {
    margin-top: -327px;
    margin-right: -236px;
    background-color: var(--btn-bg);
    color: white;
    width: 250px;
    height: 150px;
    font-weight: bold;
    font-size: 45px;
    border-style: none;
    border-radius: 5px;

}

.exp-btn span {
    font-size: 30px;
    font-weight: bold;
}

/* some facts css */
.some-facts {
    width: 100%;
    height: 200px;
}

.some-facts h1 {
    font-size: 40px;
    margin-left: 90px;
    margin-bottom: 20px;
}

.some-facts p {
    width: 450px;
    margin-left: 90px;
    margin-bottom: 20px;
    color: var(--color-dark);
}

/* history started */

.history-container {
    display: flex;
    width: 90%;
    height: 167px;
    gap: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    justify-content: space-around;
    margin-left: 50px;

}



.histroy-award img {
    height: 40px;
    width: 40px;
    margin-top: 13px;
    margin-bottom: 5px;
}

.histroy-award {

    text-align: center;
    justify-content: center;
    border: 2px solid var(--btn-bg);
    transition: width .5s;
    height: 185px;
    width: 216px;
    border-radius: 10px;

}

.histroy-award:hover {
    height: 210px;
    width: 250px;
    border-radius: 25px;
    background-color: rgb(118, 190, 252);
    font-weight: bolder;

}

.history-award-count {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 5px;
}

.count-details {
    font-size: 22px;
    color: var(--color-dark);
}

/* --------------------------------------------------
                   our sopnsor
----------------------------------------------------- */
.our-sponsor-container {
    width: 100%;
    height: 100px;

}

.sponsor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.sponsor-details p {
    text-align: center;
    width: 500px;
    color: var(--color-dark);
}

.sponsor-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

/* --------------------------------------------------
                   our sopnsor names
----------------------------------------------------- */
.sponsor-name {
    display: flex;
    justify-content: space-between;
}

.sponsor-name img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.sponsor-names {
    padding: 60px;
}

/* meaningfull section */
.client img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.client {
    border: 2px solid var(--btn-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 3px 3px var(--color-dark);
}

.client-review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 120px;
    margin-bottom: 40px;

}

.client-title {
    margin: 0 500px;
    font-size: 40px;
    margin-bottom: 20px;
}

.client p {
    color: var(--color-dark);
    font-size: 12px;
    margin-top: 5px;
}

/*  footer */
.footer {
    height: 100px;
    width: 100%;
}

.footer p {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    height: 60px;
    width: 60%;
    margin: 0 auto;
    color: var(--color-dark);

}

/* Responsive */
@media screen and (max-width:576px) {
    .nav-banner {
        height: 100%;
        width: 100%;
    }

    .nav-container .nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-title {
        align-items: center;
        margin: 0 auto;
        font-weight: 500;
    }

    .nav-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
        line-height: 25px;
        align-items: center;
        margin: 0 auto;
    }

    .banner-title {
        font-size: 20px;
        line-height: 20px;
    }

    .banner-container {
        margin-top: 40px;
    }

    .banner-description {
        padding: 5px;
        font-size: 10px;
    }

    .banner-img img {
        height: 200px;
        width: 80%;
    }

    .button {
        margin-top: -120px;
    }

    /* feature  */
    .feature-container {
        display: grid;
        grid-template-columns: repeat(1, fr);
    }

    .feature-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-img img {
        width: 90%;
    }

    .feature-description-details {
        margin-top: 15px;
        margin-left: 10px;
    }

    /* experience container */
    .experience-container {
        display: grid;
    }

    .experience-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .experience-description-part {
        height: 113px;
        width: 328px;
        margin-top: -19px;
        margin-bottom: 20px;
        padding: 10px 30px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px var(--color-dark);
    }

    .experience-right-container-img {
        height: 100px;
        width: 389px;
        margin-left: 100px;
    }

    .experience-right-container-img img {
        height: 400px;
        width: 389px;
    }

    .exp-btn {
        margin-top: 287px;
        margin-right: -137px;
        background-color: var(--btn-bg);
        color: white;
        width: 217px;
        height: px;
        font-weight: bold;
        font-size: 44px;
        border-radius: 10px;
    }

    .experience-title {
        margin: 0 0;
    }

    .responsive-experience-des {
        height: 123px;
        width: 296px;
        overflow: hidden;
    }

    /* some facts */
    .some-facts {
        border: 2px solid red;
    }

    /* history container */
    .history-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .histroy-award {
        margin: 0 auto;
    }

    /* our sopnsor */
    .our-sponsor-container {
        height: 100%;
        width: 100%;
    }

    /*  sponsor name*/
    .sponsor-name {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50px;
        gap: 25px;
    }

    /* client revews */
    .client-reviews h1 {
        margin-left: 50px;
        width: 400px;
    }

    .client-review {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        height: 80px;
        width: 400px;
        padding: 5px;
        text-align: center;
        border-radius: 3px;
    }


}